body {
    height: 100%;
    margin: 0;
    width: 100%;

  }
  
.header {
    background-image: url(bg.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }

.line1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }  

.vx1 {
    margin: -75px 1400px;
  }  

  @keyframes scaleUp {
    from { transform: scale(1); }
    to { transform: scale(1.05); }
  }
  
 .vx1:hover { animation: scaleUp 0s ease-in forwards; }
 .proect1:hover { animation: scaleUp 0s ease-in forwards; }

 .textproect {
    margin: 150px 193px;
  }  
.proect1 {
    margin: 19px 0px;
  }   
  
  